@import '_fonts';
@import '_variables';
@import '_mixins';

.container {
    padding: 0;
    .row {
        padding: 0;
        @for $i from 1 through 12 {
            div.col-#{$i} { 
                padding: 0;
            }
        }
    }
}

body {
    font-family: 'Manrope', sans-serif;
}

a.fixed-link {
    @include button;
    padding: 0 15px;
    position: fixed;
    display: flex;
    z-index: 5;
    justify-content: center;
    align-items: center;
    height: 40px;
    right: 0;
    top: 40vh;
    background: linear-gradient(176.38deg, #FF9700 10.14%, #FF6800 78.17%, #FF6802 78.33%);
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.08);
    transform: rotate(-90deg);
    transform-origin: 89%;
    border-radius: 10px 10px 0 0;
    img {
        margin-right: 11px;
    }
    span {
        font-size: 13px;
    }
    &:hover {
        text-decoration: none;
    }
}

header {
    position: absolute;
    // position: fixed;
    // z-index: 5;
    width: 100%;
    background: #FFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
    .header__logo {
        img {
            margin: 12px 0;
        }
    }
    .header__menu {
        &-list {
            margin: 0;
            padding-left: 0;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            &-item {
                margin: 0 48px 0 0;
                font-style: normal;
                height: 100%;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                .dropdown {
                    &-menu {
                        width: 228px;
                        background: #FFFFFF;
                        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
                        border-radius: 0px 0px 5px 5px;
                        border: none;
                        top: 79px;
                        left: -20px;
                        padding: 20px;
                    }
                    &-item {
                        margin: 0;
                        padding: 0;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 25px;
                        transition: all 0.3s;
                        &:hover {
                            color: $orange;
                            background: none;
                        }
                    }
                }
                &-link {
                    height: 100%;
                    text-align: center;
                    text-decoration: none;
                    color: $dark-gray;
                    transition: all 0.3s;
                    display: flex;
                    align-items: center;
                    svg {
                        margin-left: 7px;
                        .drop-arrow {
                            fill: #333;
                            transition: all 0.3s;
                        }
                    }
                    &:hover {
                        color: $orange;
                        .drop-arrow {
                            fill: $orange;
                        }
                    }
                }
            
            }
            
        }
    }
    .header__contact {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 12px 0;
        &-button {
            @include button;
            height: 40px;
            span {
                display: block;
                width: 116px;
                &:before {
                    content: "+7 906 2-999-555"
                }
            }
            &:hover {
                span {
                    &:before {
                        content: "Заказать звонок"
                    }
                }
            }
        }
    }
}

.banner {
    padding: 220px 0;
    width: 100%;
    min-height: 700px;
    background: url('images/banner_bg.png');
    background-size: cover;
    color: #FFF;
    &__heading {
        font-size: 58px;
        font-weight: 700;
    }
    &__description {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
    }
    &__button {
        margin-top: 40px;
        height: 50px;
        @include button;
        font-size: 16px;
    }
}

.categories {
    padding: 70px 0 50px;
    &__list {
        &-item {
            padding: 30px;
            width: 360px;
            height: 208px;
            background: #FFFFFF;
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 167px;
                height: 167px;
                background: linear-gradient(165.46deg, #FF9700 10.14%, #FF6800 78.17%, #FF6802 78.33%);
                border-radius: 50%;
                right: 68px;
                top: 18px;
                transition: all 0.5s ease-in-out; 
            }
            &-heading {
                position: absolute;
                font-size: 24px;
                line-height: 30px;
                color: $dark-gray;
            }
            &-arrow {
                display: none;
                position: absolute;
                left: 30px;
                bottom: 36px;
            }
            &-image {
                position: absolute;
                right: 0;
                bottom: 0;
                transition: all 0.5s linear; 
            }
            &:hover {
                cursor: pointer;
                h3 {
                    color: #FFF;
                }
                &:before {
                    transform: translateY(-15px);
                    width: 100%;
                    height: 100%;
                    bottom: 0;
                    right: 0;
                    border-radius: 10px;
                }
                .categories__list-item-arrow {
                    display: block;
                }
                transform: translateY(-15px);
                box-shadow: 0px 10px 30px rgba(255, 149, 1, 0.397);
            }
        }
    }
}

.log {
    padding: 50px 0 50px;
    &__description {
        color: $dark-gray;
        &-heading {
            font-size: 36px;
            font-weight: 600;
            line-height: 46px;
        }
        &-text {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
        }
        &-list {
            margin-top: 50px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            &-item {
                width: 150px;
                p {
                    margin-top: 10px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }
}

.portfolio {
    padding-bottom: 20px;
    &__button {
        @include button;
        width: 168px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin-top: 30px;
        font-weight: 700;
        font-size: 16px;
    }
    &__heading {
        text-align: center;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 36px;
        color: $dark-gray;
    }
    &__item {
        margin: 20px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 370px;
        height: 300px;
        border-radius: 10px;
        position: relative;
        color: #FFF;
        padding: 30px;
        transition: all 0.3s;
        overflow: hidden;
        &-fade {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(165.46deg, #FF9700 10.14%, #FF6800 78.17%, #FF6802 78.33%);
            opacity: 0;
            transition: all 0.4s ease-in-out;
        }
        &-content {
            position: relative;
            &-heading {
                position: absolute;
                margin: 0;
                bottom: 0;
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                transition: all 0.4s ease-in-out;
            }
            &-info {
                bottom: 0;
                opacity: 0;
                // display: none;
                position: absolute;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                transition: all 0.4s ease-in-out;
            }
            &-arrow {
                opacity: 0;
                bottom: 0;
                // display: none;
                position: absolute;
                width: 31px;
                height: 14px;
                margin-top: 20px;
                transition: all 0.4s ease-in-out;
            }
        }
        &-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        &:hover {
            cursor: pointer;
            .portfolio {
                &__item {
                    &-fade {
                        opacity: 0.8;
                    }
                    &-content {
                        &-heading {
                            bottom: 64px;
                        }
                        &-info {
                            display: inline;
                            bottom: 40px;
                            opacity: 1;
                        }
                        &-arrow {
                            display: block;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

footer {
    min-height: 298px;
    background: $dark-gray;
    .brd {
        border: 1px solid black;
    }
}